<div class="page-wrapper">
    <div class="content">
    
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Activos </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Editar Activos</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row">
            <div class="col-sm-12">
            
                <div class="card">
                    <div class="card-body">
                        <form>
                            <div class="row">
                                
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>Tipo de trabajador <span class="login-danger">*</span></label>
                                        <select class="form-control" [(ngModel)]="selectedtipotrabajador" name="selectedtipotrabajador" disabled>
                                            <option value="" disabled selected>Selecciona un tipo de trabajador</option> 
                                            <option *ngFor="let tipotrabajador of tipotrabajadores" [value]="tipotrabajador.id">{{ tipotrabajador.nombre }}</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="col-12 col-md-6 col-xl-4">  
                                    <div class="form-group local-forms">
                                        <label >Nombres <span class="login-danger">*</span></label>
                                        <input class="form-control" [(ngModel)]="nombres" name="nombres" type="text"  >
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label >Apellidos <span class="login-danger">*</span></label>
                                        <input class="form-control" [(ngModel)]="apellidos" name="apellidos" type="text"  >
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label >DNI <span class="login-danger">*</span></label>
                                        <input class="form-control" [(ngModel)]="dni" name="dni" type="text"  >
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>Área<span class="login-danger">*</span></label>
                                        <select class="form-control" [(ngModel)]="selectedarea" name="selectedarea">
                                            <option value="" disabled selected>Selecciona un área</option> 
                                            <option *ngFor="let area of areas" [value]="area.id">{{ area.nombre }}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>Cargo<span class="login-danger">*</span></label>
                                        <select class="form-control" [(ngModel)]="selectedcargo" name="selectedcargo">
                                            <option value="" disabled selected>Selecciona un cargo</option> 
                                            <option *ngFor="let cargo of cargos" [value]="cargo.id">{{ cargo.nombre }}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-4">  
                                    <div class="form-group local-forms">
                                        <label>Fecha nacimiento<span class="login-danger">*</span></label>
                                        <input class="form-control" [(ngModel)]="fnacimiento" name="fnacimiento" type="date"  >
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-4">  
                                    <div class="form-group local-forms">
                                        <label >Fecha de ingreso <span class="login-danger">*</span></label>
                                        <input class="form-control" [(ngModel)]="fingreso" name="fingreso" type="date"  >
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-4">  
                                    <div class="form-group local-forms">
                                        <label >Fecha de salida <span class="login-danger">*</span></label>
                                        <input class="form-control" [(ngModel)]="fsalida" name="fsalida" type="date"  >
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>Regimen <span class="login-danger">*</span></label>
                                        <select class="form-control" [(ngModel)]="selectedregimen" name="selectedregimen">
                                            <option value="" disabled selected>Selecciona un regimen</option> 
                                            <option *ngFor="let regimen of regimenes" [value]="regimen.nombre">{{ regimen.nombre }}</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="col-12">
                                    <div class="form-group row my-4" *ngIf="text_success">
                                        <div class="col-md-8">
                                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                                <strong>Exito!</strong> {{ text_success }}.
                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true"> </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
            
                                    <div class="form-group row my-4" *ngIf="text_validation">
                                        <div class="col-md-8">
                                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                                <strong>!</strong> {{ text_validation }}.
                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true"> </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="doctor-submit text-end">
                                        <button type="button" (click)="save()" class="btn btn-primary submit-form me-2">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>							
            </div>					
        </div>
    </div>
</div>
 