<div class="page-wrapper">
    <div class="content">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.adminDashboard">Dashboard </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Admin Dashboard</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="good-morning-blk">
            <div class="row">
                <div class="col-md-6">
                    <div class="morning-user">
                        <h2>Bienvenido Nuevamente <span>{{ user.nombres + ' ' + user.apellidos }}</span></h2>
                        <p>Que tengas un excelente día!</p>
                    </div>
                </div>
                <div class="col-md-6 position-blk">
                    <div class="morning-img">
                        <img src="assets/img/morning-img-01.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="dash-widget">
                    <div class="dash-content dash-count" style="text-align: center;">
                        <h4>Trabajadores</h4>
                        <h2>
                            <span class="counter-up">{{ total_trabajadores }}</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="dash-widget">
                    <div class="dash-content dash-count" style="text-align: center;">
                        <h4>Practicantes</h4>
                        <h2>
                            <span class="counter-up">{{ total_practicantes }}</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="dash-widget">
                    <div class="dash-content dash-count" style="text-align: center;">
                        <h4>Boletas</h4>
                        <h2>
                            <span class="counter-up">{{ total_boletas }}</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="dash-widget">
                    <div class="dash-content dash-count" style="text-align: center;">
                        <h4>Planillas</h4>
                        <h2>
                            <span class="counter-up">{{ total_planillas }}</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="dash-widget">
                    <div class="dash-content dash-count" style="text-align: center;">
                        <h4>Documentos Emitidos</h4>
                        <h2>
                            <span class="counter-up">{{ total_emitidos }}</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="dash-widget">
                    <div class="dash-content dash-count" style="text-align: center;">
                        <h4>Documentos Recibidos</h4>
                        <h2>
                            <span class="counter-up">{{ total_recibidos }}</span>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>