<div class="page-wrapper">
    <div class="content">
    
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/practicantes/list-practicantes">Practicantes </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Agregar Practicante</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row" *ngIf="permisos.ppracticante">
            <div class="col-sm-12">
            
                <div class="card">
                    <div class="card-body">
                        <form>
                            <div class="row">

                                <div class="col-12 col-md-6 col-xl-4">  
                                    <div class="form-group local-forms">
                                        <label >Nombre<span class="login-danger">*</span></label>
                                        <input class="form-control" [(ngModel)]="nombre" name="nombre" type="text"  >
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-4">  
                                    <div class="form-group local-forms">
                                        <label >Apellidos<span class="login-danger">*</span></label>
                                        <input class="form-control" [(ngModel)]="apellidos" name="apellidos" type="text"  >
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-4">  
                                    <div class="form-group local-forms">
                                        <label >Universidad<span class="login-danger">*</span></label>
                                        <input class="form-control" [(ngModel)]="universidad" name="universidad" type="text"  >
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-4">  
                                    <div class="form-group local-forms">
                                        <label >Carrera<span class="login-danger">*</span></label>
                                        <input class="form-control" [(ngModel)]="carrera" name="carrera" type="text"  >
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-4">  
                                    <div class="form-group local-forms">
                                        <label >Horas de prácticas<span class="login-danger">*</span></label>
                                        <input class="form-control" [(ngModel)]="horapracticas" name="horapracticas" type="text"  >
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>Área <span class="login-danger">*</span></label>
                                        <select class="form-control" [(ngModel)]="selectearea" name="selectearea">
                                            <option value="" disabled selected>Selecciona un mes</option> 
                                            <option *ngFor="let area of areas" [value]="area.id">{{ area.nombre }}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-4">  
                                    <div class="form-group local-forms">
                                        <label >Fecha ingreso <span class="login-danger">*</span></label>
                                        <input class="form-control" [(ngModel)]="fingreso" name="fingreso" type="date"  >
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-4">  
                                    <div class="form-group local-forms">
                                        <label >Fecha salida <span class="login-danger">*</span></label>
                                        <input class="form-control" [(ngModel)]="fsalida" name="fsalida" type="date"  >
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-top-form">
                                        <label class="local-top">Carta de aceptación <span class="login-danger">*</span></label>
                                        <div class="settings-btn upload-files-avator">
                                            <input type="text" style="border: none; position: relative; top: -6px;" [value]="selectedFileName" readonly>
                                            <input type="file" accept=".pdf" name="pdfFile" (change)="loadFile($event, 1)" id="pdfFile" class="hide-input">
                                            <label for="pdfFile" class="upload">Escoge un archivo</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-top-form">
                                        <label class="local-top">Certificado de prácticas<span class="login-danger">*</span></label>
                                        <div class="settings-btn upload-files-avator">
                                            <input type="text" style="border: none; position: relative; top: -6px;" [value]="selectedFileName2" readonly>
                                            <input type="file" accept=".pdf" name="pdfFile2" (change)="loadFile($event, 2)" id="pdfFile2" class="hide-input">
                                            <label for="pdfFile2" class="upload">Escoge un archivo</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-group row my-4" *ngIf="text_validation">
                                        <div class="col-md-8">
                                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                                <strong>!</strong> {{ text_validation }}.
                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true"> </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="doctor-submit text-end">
                                        <button 
                                        type="button" (click)="save()" 
                                        class="btn btn-primary submit-form me-2">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>							
            </div>					
        </div>
    </div>
</div>
 