<div class="page-wrapper">
    <div class="content">
    
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/memorandum/list-memorandum">Memorandum </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Editar Memorandum</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row">
            <div class="col-sm-12" *ngIf="permisos.urecibidos">
            
                <div class="card">
                    <div class="card-body">
                        <form>
                            <div class="row">
                                
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>Año <span class="login-danger">*</span></label>
                                        <select class="form-control" [(ngModel)]="selectedYear" name="selectedYear">
                                            <option value="" disabled selected>Selecciona un año</option> 
                                            <option *ngFor="let year of years" [value]="year.id">{{ year.nombre }}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>Mes <span class="login-danger">*</span></label>
                                        <select class="form-control" [(ngModel)]="selectedMonth" name="selectedMonth">
                                            <option value="" disabled selected>Selecciona un mes</option> 
                                            <option *ngFor="let month of months" [value]="month.id">{{ month.nombre }}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>Tipo de documento <span class="login-danger">*</span></label>
                                        <select class="form-control" [(ngModel)]="selectedtipodocumento" name="selectedtipodocumento" disabled>
                                            <option value="" disabled selected>Selecciona un tipo de documento</option> 
                                            <option *ngFor="let tipodocumento of tipodocumentos" [value]="tipodocumento.id">{{ tipodocumento.nombre }}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-4">  
                                    <div class="form-group local-forms">
                                        <label >Código <span class="login-danger">*</span></label>
                                        <input class="form-control" [(ngModel)]="codigo" name="codigo" type="text"  >
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-4">  
                                    <div class="form-group local-forms">
                                        <label >Asunto <span class="login-danger">*</span></label>
                                        <input class="form-control" [(ngModel)]="asunto" name="asunto" type="text"  >
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-4">  
                                    <div class="form-group local-forms">
                                        <label >Fecha recepción <span class="login-danger">*</span></label>
                                        <input class="form-control" [(ngModel)]="fecharecepcion" name="fechaemision" type="date"  >
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-top-form">
                                        <label class="local-top">Archivo <span class="login-danger">*</span></label>
                                        <div class="settings-btn upload-files-avator">
                                            <input type="text" style="border: none; position: relative; top: -6px;" [value]="selectedFileName" readonly>
                                            <input type="file" accept=".pdf" name="pdfFile" (change)="loadFile($event)" id="pdfFile" class="hide-input">
                                            <label for="pdfFile" class="upload">Escoge un archivo</label>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-12">
                                    <div class="form-group row my-4" *ngIf="text_success">
                                        <div class="col-md-8">
                                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                                <strong>Exito!</strong> {{ text_success }}.
                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true"> </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
            
                                    <div class="form-group row my-4" *ngIf="text_validation">
                                        <div class="col-md-8">
                                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                                <strong>!</strong> {{ text_validation }}.
                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true"> </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="doctor-submit text-end">
                                        <button 
                                        type="button" 
                                        (click)="save()" 
                                        class="btn btn-primary submit-form me-2">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>							
            </div>					
        </div>
    </div>
</div>
 