<div class="page-wrapper">
    <div class="content">
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Roles y Permisos </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Registro</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row justify-content-center" *ngIf="isPermision()">
            <div class="col-lg-8">
                <div class="card-box">
                    <h4 class="card-title">Creación Rol</h4>
                    <form action="#">
                        <div class="form-group row">
                            <label class="col-form-label col-md-2">Nombre</label>
                            <div class="col-md-10">
                                <input type="text" name="nombre" [(ngModel)]="nombre" class="form-control">
                            </div>
                        </div>        
                        <div class="form-group row">
                            <div class="col-md-12 text-end">
                                <button class="btn btn-primary" (click)="save()">GUARDAR</button>
                            </div>
                        </div>   

                        <div class="form-group row" *ngIf="text_validation">
                            <div class="col-md-8">
                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                    <strong>!</strong> {{ text_validation }}.
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true"> </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card-box">
                    <h4 class="card-title">Asignación de Permisos</h4>
                    <div class="card-block">
                        <div class="table-responsive">
                            <table class="table table-bordered mb-0">
                                <thead>
                                    <tr>
                                        <th>Sección</th>
                                        <th>Permisos</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container>
                                        <tr>
                                            <td>Trabajadores</td>
                                            <td>
                                                <ng-container >
                                                    <div class="checkbox">
                                                        <label>
                                                            <input id="gtrabajador" type="checkbox" name="gtrabajador" (change)="updateData('gtrabajador', $event)"> Listar
                                                        </label>
                                                    </div>
                                                </ng-container>
                                                <ng-container >
                                                    <div class="checkbox">
                                                        <label>
                                                            <input id="ptrabajador" type="checkbox" name="ptrabajador" (change)="updateData('ptrabajador', $event)"> Registrar
                                                        </label>
                                                    </div>
                                                </ng-container>
                                                <ng-container >
                                                    <div class="checkbox">
                                                        <label>
                                                            <input id="utrabajador" type="checkbox" name="utrabajador" (change)="updateData('utrabajador', $event)"> Actualizar
                                                        </label>
                                                    </div>
                                                </ng-container>
                                                <ng-container >
                                                    <div class="checkbox">
                                                        <label>
                                                            <input id="dtrabajador" type="checkbox" name="dtrabajador" (change)="updateData('dtrabajador', $event)"> Eliminar
                                                        </label>
                                                    </div>
                                                </ng-container>
                                            </td>
                                        </tr>
                                    </ng-container>
                                    
                                    <ng-container>
                                        <tr>
                                            <td>Practicantes</td>
                                            <td>
                                                <ng-container >
                                                    <div class="checkbox">
                                                        <label>
                                                            <input id="gpracticante" type="checkbox" name="gpracticante" (change)="updateData('gpracticante', $event)"> Listar
                                                        </label>
                                                    </div>
                                                </ng-container>
                                                <ng-container >
                                                    <div class="checkbox">
                                                        <label>
                                                            <input id="ppracticante" type="checkbox" name="ppracticante" (change)="updateData('ppracticante', $event)"> Registrar
                                                        </label>
                                                    </div>
                                                </ng-container>
                                                <ng-container >
                                                    <div class="checkbox">
                                                        <label>
                                                            <input id="upracticante" type="checkbox" name="upracticante" (change)="updateData('upracticante', $event)"> Actualizar
                                                        </label>
                                                    </div>
                                                </ng-container>
                                                <ng-container >
                                                    <div class="checkbox">
                                                        <label>
                                                            <input id="dpracticante" type="checkbox" name="dpracticante" (change)="updateData('dpracticante', $event)"> Eliminar
                                                        </label>
                                                    </div>
                                                </ng-container>
                                            </td>
                                        </tr>
                                    </ng-container>

                                    <ng-container>
                                        <tr>
                                            <td>Boletas</td>
                                            <td>
                                                <ng-container >
                                                    <div class="checkbox">
                                                        <label>
                                                            <input id="gboleta" type="checkbox" name="gboleta" (change)="updateData('gboleta', $event)"> Listar
                                                        </label>
                                                    </div>
                                                </ng-container>
                                                <ng-container >
                                                    <div class="checkbox">
                                                        <label>
                                                            <input id="pboleta" type="checkbox" name="pboleta" (change)="updateData('pboleta', $event)"> Registrar
                                                        </label>
                                                    </div>
                                                </ng-container>
                                                <ng-container >
                                                    <div class="checkbox">
                                                        <label>
                                                            <input id="uboleta" type="checkbox" name="uboleta" (change)="updateData('uboleta', $event)"> Actualizar
                                                        </label>
                                                    </div>
                                                </ng-container>
                                                <ng-container >
                                                    <div class="checkbox">
                                                        <label>
                                                            <input id="dboleta" type="checkbox" name="dboleta" (change)="updateData('dboleta', $event)"> Eliminar
                                                        </label>
                                                    </div>
                                                </ng-container>
                                            </td>
                                        </tr>
                                    </ng-container>

                                    <ng-container>
                                        <tr>
                                            <td>Planillas</td>
                                            <td>
                                                <ng-container >
                                                    <div class="checkbox">
                                                        <label>
                                                            <input id="gplanilla" type="checkbox" name="gplanilla" (change)="updateData('gplanilla', $event)"> Listar
                                                        </label>
                                                    </div>
                                                </ng-container>
                                                <ng-container >
                                                    <div class="checkbox">
                                                        <label>
                                                            <input id="pplanilla" type="checkbox" name="pplanilla" (change)="updateData('pplanilla', $event)"> Registrar
                                                        </label>
                                                    </div>
                                                </ng-container>
                                                <ng-container >
                                                    <div class="checkbox">
                                                        <label>
                                                            <input id="uplanilla" type="checkbox" name="uplanilla" (change)="updateData('uplanilla', $event)"> Actualizar
                                                        </label>
                                                    </div>
                                                </ng-container>
                                                <ng-container >
                                                    <div class="checkbox">
                                                        <label>
                                                            <input id="dplanilla" type="checkbox" name="dplanilla" (change)="updateData('dplanilla', $event)"> Eliminar
                                                        </label>
                                                    </div>
                                                </ng-container>
                                            </td>
                                        </tr>
                                    </ng-container>

                                    <ng-container>
                                        <tr>
                                            <td>Documentos emitidos</td>
                                            <td>
                                                <ng-container >
                                                    <div class="checkbox">
                                                        <label>
                                                            <input id="semitidos" type="checkbox" name="semitidos" (change)="updateData('semitidos', $event)"> Sumarizar
                                                        </label>
                                                    </div>
                                                </ng-container>
                                                <ng-container >
                                                    <div class="checkbox">
                                                        <label>
                                                            <input id="gemitidos" type="checkbox" name="gemitidos" (change)="updateData('gemitidos', $event)"> Listar
                                                        </label>
                                                    </div>
                                                </ng-container>
                                                <ng-container >
                                                    <div class="checkbox">
                                                        <label>
                                                            <input id="pemitidos" type="checkbox" name="pemitidos" (change)="updateData('pemitidos', $event)"> Registrar
                                                        </label>
                                                    </div>
                                                </ng-container>
                                                <ng-container >
                                                    <div class="checkbox">
                                                        <label>
                                                            <input id="uemitidos" type="checkbox" name="uemitidos" (change)="updateData('uemitidos', $event)"> Actualizar
                                                        </label>
                                                    </div>
                                                </ng-container>
                                                <ng-container >
                                                    <div class="checkbox">
                                                        <label>
                                                            <input id="demitidos" type="checkbox" name="demitidos" (change)="updateData('demitidos', $event)"> Eliminar
                                                        </label>
                                                    </div>
                                                </ng-container>
                                            </td>
                                        </tr>
                                    </ng-container>

                                    <ng-container>
                                        <tr>
                                            <td>Documentos recibidos</td>
                                            <td>
                                                <ng-container >
                                                    <div class="checkbox">
                                                        <label>
                                                            <input id="srecibidos" type="checkbox" name="srecibidos" (change)="updateData('srecibidos', $event)"> Sumarizar
                                                        </label>
                                                    </div>
                                                </ng-container>
                                                <ng-container >
                                                    <div class="checkbox">
                                                        <label>
                                                            <input id="grecibidos" type="checkbox" name="grecibidos" (change)="updateData('grecibidos', $event)"> Listar
                                                        </label>
                                                    </div>
                                                </ng-container>
                                                <ng-container >
                                                    <div class="checkbox">
                                                        <label>
                                                            <input id="precibidos" type="checkbox" name="precibidos" (change)="updateData('precibidos', $event)"> Registrar
                                                        </label>
                                                    </div>
                                                </ng-container>
                                                <ng-container >
                                                    <div class="checkbox">
                                                        <label>
                                                            <input id="urecibidos" type="checkbox" name="urecibidos" (change)="updateData('urecibidos', $event)"> Actualizar
                                                        </label>
                                                    </div>
                                                </ng-container>
                                                <ng-container >
                                                    <div class="checkbox">
                                                        <label>
                                                            <input id="drecibidos" type="checkbox" name="drecibidos" (change)="updateData('drecibidos', $event)"> Eliminar
                                                        </label>
                                                    </div>
                                                </ng-container>
                                            </td>
                                        </tr>
                                    </ng-container>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>