<div class="page-wrapper">
    <div class="content">
    
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/exfuncionarios/list-exfuncionarios">exfuncionarios </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Editar exfuncionarios</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row">
            <div class="col-sm-12">
            
                <div class="card">
                    <div class="card-body" *ngIf="exfuncionarios_selected">
                        <form>
                            <div class="row">
                                
                                <div class="col-12 col-md-6 col-xl-4">  
                                    <div class="form-group local-forms">
                                        <label >Nombres <span class="login-danger">*</span></label>
                                        <input class="form-control" [(ngModel)]="name" name="name" type="text"  >
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label >Apellidos <span class="login-danger">*</span></label>
                                        <input class="form-control" [(ngModel)]="surname" name="surname" type="text"  >
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label >DNI <span class="login-danger">*</span></label>
                                        <input class="form-control" [(ngModel)]="dni" name="dni" type="number"  >
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label >Cargo <span class="login-danger">*</span></label>
                                        <input class="form-control" [(ngModel)]="cargo" name="cargo" type="text"  >
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label >Fecha ingreso  <span class="login-danger">*</span></label>
                                        <input class="form-control datetimepicker" [(ngModel)]="fecha_ingreso" name="fecha_ingreso" type="text" matInput [matDatepicker]="picker"  >
                                        <mat-datepicker #picker></mat-datepicker>
                                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label >Fecha cesante  <span class="login-danger">*</span></label>
                                        <input class="form-control datetimepicker" [(ngModel)]="fecha_cesante" name="fecha_cesante" type="text" matInput [matDatepicker]="picker"  >
                                        <mat-datepicker #picker></mat-datepicker>
                                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                    </div>
                                </div>
                                
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-top-form">
                                        <label class="local-top">Documento <span class="login-danger">*</span></label>
                                        <div class="settings-btn upload-files-avator">
                                            <input type="file" accept="image/*" name="image" id="file" (change)="loadFile($event)" class="hide-input">
                                            <label for="file" class="upload">Subir Documento</label>
                                        </div>
                                    </div>
                                    <div class="" *ngIf="IMAGEN_PREVIZUALIZA">
                                        <img [src]="IMAGEN_PREVIZUALIZA" width="250" alt="" srcset="">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group row my-4" *ngIf="text_validation">
                                        <div class="col-md-8">
                                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                                <strong>!</strong> {{ text_validation }}.
                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true"> </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="doctor-submit text-end">
                                        <button 
                                        type="button" 
                                        (click)="save()" 
                                        class="btn btn-primary submit-form me-2"
                                        routerLink="/exfuncionarios/list-exfuncionarios">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>							
            </div>					
        </div>
    </div>
</div>
 